html{
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.game-wrapper{
    width:960px;
    height:640px;
    margin: 0 auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    /*transform: scale(0.66,0.66);*/
}