
#machine-half {
    position: relative;
    float: left;
    z-index: 3;
    width: 50%;
    height: 100%;
    font-size: 1em;
}

#matter-half {
    position: relative;
    float: right;
    z-index: 2;
    width: 50%;
    height: 100%;
    font-size: 1em;
}

/*---------------------------------------*/
/* The Machine */
/*---------------------------------------*/

#machine {
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

#machine-image {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 97%;
}

#slots-panel {
    position: absolute;
    z-index: 4;
    top: 39%;
    left: 22%;
    height: 75px;
    background-size: 100% 100%;
}

#handle-wrapper {
    position: absolute;
    z-index: 5;
    top: 38%;
    left: 86%;
    height: 200px;
    width: 65px;
    overflow: hidden;
}

#slot-handle {
    position: relative;
    height: 200px;
    cursor: pointer;
    left: -1px;
}

#slotOverlay {
    height: 105px;
    margin-left: 33px;
    margin-top: -149px;
    position: relative;
    width: 319px;
    z-index: 9999999;
    display: none;
}

/*---------------------------------------*/
/* The Quiz Panel */
/*---------------------------------------*/

#header-panel {
    position: relative;
    z-index: 4;
    height: 30%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

#logo{
    width:100%;
}

#matter-panel {
    position: relative;
    z-index: 4;
    height: 60%;
    width: 80%;
    margin-left: 10%;
}

.content-panel {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.base-panel {
    position: absolute;
    width: 100%;
    height: 100%;
}

#menu-panel {
    position: relative;
    z-index: 5;
    height: 60%;
    width: 80%;
    margin-left: 10%;
    margin-top: -50px;
    text-align: center;
}

.menuBtn {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 5px solid black;
    background: black;
    display: inline-block;
    cursor: pointer;
    font-size: 50px;
}

.menuBtn img {
    width: 64px;
}

.activeBtn {
    box-shadow: orange 1px 1px 10px;
    border: 5px solid white;
}

#answer-menu {
    display: none;
}

#freespin-counter {
    display: none;
    width: 80%;
    margin-left: 5%;
    font-size: 28px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 40px;
    background: black;
    color: white;
    text-align: center;
}

#opta, #bulletA {
    background: #a34f32;
}

#optb, #bulletB {
    background: #7255ff;
}

#optc, #bulletC {
    background: #8b9f20;
}

#optd, #bulletD {
    background: #ffcf57;
}

#opta:hover {
    background: #814129;
}

#optb:hover {
    background: #533cb2;
}

#optc:hover {
    background: #6f801b;
}

#optd:hover {
    background: #c49d47;
}

#intro-panel {
    display: block;
}

.panelBack {
    position: absolute;
    width: 100%;
    height: 100%;
}

#intro-text, #profile-text {
    position: relative;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 12%;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

#intro-text img {
    width: 80%;
}

#intro-text img#exiter{
    bottom: -5%;
    left: 112%;
    position: absolute;
    width: 10%;
    z-index: -1;
}

.about-link {
    text-decoration: none;
    font-weight: bold;
    color: goldenrod;
}

#payoff-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

#payoff-table {
    position: relative;
    margin-left: 15%;
    padding-top: 10%;
    color: white;
}

#payoff-table img {
    width: 28px;
    display: inline;
    vertical-align: middle;
}

#payoff-panel p img {
    width: 32px;
    display: inline;
    vertical-align: middle;
}

#leaderboard-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

#leaderboard-table {
    position: relative;
    margin-left: 15%;
    padding-top: 10%;
    color: white;
}

#leaderboard-table table {
    width: 80%;
    text-align: center;
}

#leaderboard-table table td {
    border: 1px solid black;
    background: #333;
}

#leaderboard-table table th {
    border: 1px solid black;
    background: #000;
}

#scoring-panel {

}

#scoring-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

#scoring {
    position: relative;
    margin-left: 10%;
    padding-top: 30%;
    font-family: "Finger Paint", sans-serif;
    font-size: 50px;
    color: white;
    z-index: 9999999;
    width: 80%;
    text-align: center;
    pointer-events:none;
}

#quiz-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

#quiz-content {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "Finger Paint", sans-serif;
    color: black;
    z-index: 9999999;
//  width:300px;
}

.questioned {
    font-size: 24px;
    margin-top: 25px;
    margin-left: 25px;
}

.scribble {
    font-size: 24px;
}
.small-scribble {
    font-size: 14px;
}

#payoffTable, #quizscreen {
    position: absolute;
    top: 20px;
    left: 20px;
}

#quizscreen, #quiz-content, #qid {
    display: none;
}

#answerBlock {
    list-style: none;
}

#answerMsg {
    display: none;
    color: white;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}

.answer-bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    color: black;
}

#answerBlock li {
    margin-bottom: 5px;
    margin-left: -39px;
    padding: 5px 5px 5px 10px;
}

.answer {
    font-size: 14px;
    color: white;
    line-height: 1;
    background: none repeat scroll -25px center #000000;
    cursor: pointer;
    width: 90%;
}

.answer:hover {
    font-size: 14px;
    color: gold;
    line-height: 1;
    background: none repeat scroll -25px center #000000;
}

#credits {
    color: white;
    text-shadow: 0 0 5px #ffcf57;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    margin-left: 8.5%;
    margin-top: 5px;
    text-align: left;
    width: 80%;
    padding: 10px;
    background: black;
    border-radius: 10px;
    z-index: 10;
    opacity: 0.8;
}

#creditsVal {
    float: right;
}

#spinclick {
    display: none;
    position: absolute;
    left: 45%;
    top: 26%;
    z-index: 99;
    width: 120px;
}

#qbrief {
    bottom: 50px;
    color: #FFFFFF;
    font-size: 12px;
    left: 50px;
    line-height: 1;
    position: absolute;
//  width: 260px;
}

#qquestion {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
    color: yellow;
}


/* Slots */

ul.slots {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slots {
    float: left;
}

/* ---------------------------------------------------------------------
   FANCY EXAMPLE
--------------------------------------------------------------------- */
.jSlots-wrapper {
    overflow: hidden;
    height: 75px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 8px solid #666;
    background: #333;
//  box-shadow: #eee 0 0 20px;
    border-radius: 10px;
//  border: 8px solid #ff9710;
//  background: #ff5d1a;
//  box-shadow: #ff9710 0 0 20px;

}

.slots li {
    width: 75px;
    line-height: 75px;
    height: 75px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    background-size: 100% 100%;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    font-family: 'Gravitas One', serif;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
}

.slots li img {
    width:100%;
    height: 100%;
}

.slots li span {
    display: block;
}

/* ---------------------------------------------------------------------
   ANIMATIONS
--------------------------------------------------------------------- */

@-webkit-keyframes winner {
    0%, 50%, 100% {
        -webkit-transform: rotate(0deg);
        font-size: 70px;
        color: #fff;
    }
    25% {
        -webkit-transform: rotate(20deg);
        font-size: 90px;
        color: #FF16D8;
    }
    75% {
        -webkit-transform: rotate(-20deg);
        font-size: 90px;
        color: #FF16D8;
    }
}

@-moz-keyframes winner {
    0%, 50%, 100% {
        -moz-transform: rotate(0deg);
        font-size: 70px;
        color: #fff;
    }
    25% {
        -moz-transform: rotate(20deg);
        font-size: 90px;
        color: #FF16D8;
    }
    75% {
        -moz-transform: rotate(-20deg);
        font-size: 90px;
        color: #FF16D8;
    }
}

@-ms-keyframes winner {
    0%, 50%, 100% {
        -ms-transform: rotate(0deg);
        font-size: 70px;
        color: #fff;
    }
    25% {
        -ms-transform: rotate(20deg);
        font-size: 90px;
        color: #FF16D8;
    }
    75% {
        -ms-transform: rotate(-20deg);
        font-size: 90px;
        color: #FF16D8;
    }
}

@-webkit-keyframes winnerBox {
    0%, 50%, 100% {
        box-shadow: inset 0 0 0px white;
        background-color: #FF0000;
    }
    25%, 75% {
        box-shadow: inset 0 0 30px white;
        background-color: aqua;
    }
}

@-moz-keyframes winnerBox {
    0%, 50%, 100% {
        box-shadow: inset 0 0 0px white;
        background-color: #FF0000;
    }
    25%, 75% {
        box-shadow: inset 0 0 30px white;
        background-color: aqua;
    }
}

@-ms-keyframes winnerBox {
    0%, 50%, 100% {
        box-shadow: inset 0 0 0px white;
        background-color: #FF0000;
    }
    25%, 75% {
        box-shadow: inset 0 0 30px white;
        background-color: aqua;
    }
}

.winner li {
    -webkit-animation: winnerBox 2s infinite linear;
    -moz-animation: winnerBox 2s infinite linear;
    -ms-animation: winnerBox 2s infinite linear;
}

.winner li span {
    -webkit-animation: winner 2s infinite linear;
    -moz-animation: winner 2s infinite linear;
    -ms-animation: winner 2s infinite linear;
}
