.gameTitle {
    width: 960px;
    height: 640px;
    margin: 0 auto;
    font-size: 100px;
    font-family: 'Impact', sans-serif;
    color: #333;
    text-shadow: white 0 0 20px;
    text-align: center;
    margin-top: 20%;
    line-height: 64px;
}

#sidebar {
    width: 15%;
    height: 75%;
    float: right;
    position: relative;
}

#map-wrapper {
    width: 85%;
    height: 75%;
    background-size: 100% 100%;
    float: right;
    position: relative;
    /*box-shadow: darkorange 0 0 100px 20px;*/
}

#bottombar {
    width: 100%;
    height: 25%;
    position: relative;
    pointer-events: none;
    float: right;
}

#player-area {
    width: 15%;
    float: right;
    margin-right: 15%;
    margin-top: -9%;
}

#enemy-area {
    width: 17%;
    float: left;
    margin-left: 7%;
    margin-top: -24%;
    position: relative;
}

#enemy-area img {
    width: 100%;
}

#threat {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
}

#threat img {
    position: absolute;
    bottom: 0;
}

#threat-value{
    font-family: 'Impact',serif;
    font-size: 3em;
    width:100%;
    text-align: center;
    position: absolute;
    top: 31%;
}

#hover-name {
    position: absolute;
    bottom: 4%;
    left: 62%;
    font-size: 1em;
    width: 150px;
    text-align: center;
    font-weight: bold;
    height: 2em;
}

/* Sidebar */

#playerIcon {
    float: right;
    position: relative;
    margin-right: 10%;
    top: 10%;
    z-index: 99;
    width: 150%;
}

.sidebarBtn {
    width: 100%;
    font-size: 1.1em;
    text-align: center;
    background: url('../img/quizination/sidebarbtn.png');
    background-size: 100% 100%;
    padding: 10px;
    opacity: 0.9;
    font-family: "Impact", sans-serif;
    cursor: pointer;
    background-color: goldenrod;
    color: goldenrod;
}

.sidebarBtn:hover {
    background-color: gold;
    color: #fff;
}

#message {
    background: url('../img/quizination/message.png');
    background-size: 100% 100%;
    color: #000000;
}

#message:hover {
    background-color: transparent;
    color: #000000;
}

.playerTurn {
    display: none;
}

#btnBank {
    margin-top: 45%;
    float: right;
    position: relative;
    z-index: 99;
    width: 150%;
}

#qmark {
    float: right;
    left: 44%;
    position: absolute;
    top: 50%;
    z-index: 999;
    background: #000;
    width: 50%;
}

#reserve {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
    z-index: 99;
}

#qmark img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
}

/* Notification*/

/*#victory {*/
    /*font-size: 6em;*/
    /*text-align: center;*/
    /*font-family: "Impact", sans-serif;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 25%;*/
    /*left: 25%;*/
    /*text-shadow: black 0 0 20px;*/
    /*color: white;*/
    /*display: none;*/
/*}*/
/*#new-round {*/
    /*font-size: 6em;*/
    /*text-align: center;*/
    /*font-family: "Impact", sans-serif;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 25%;*/
    /*left: 25%;*/
    /*text-shadow: black 0 0 20px;*/
    /*color: white;*/
    /*display: none;*/
/*}*/
/*#war {*/
    /*font-size: 6em;*/
    /*text-align: center;*/
    /*font-family: "Impact", sans-serif;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 25%;*/
    /*left: 25%;*/
    /*text-shadow: black 0 0 20px;*/
    /*color: white;*/
    /*display: none;*/
/*}*/

/*#defeat {*/
    /*font-size: 6em;*/
    /*text-align: center;*/
    /*font-family: "Impact", sans-serif;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 25%;*/
    /*left: 30%;*/
    /*text-shadow: black 0 0 20px;*/
    /*color: white;*/
    /*display: none;*/
/*}*/

/*#fortified {*/
    /*font-size: 3em;*/
    /*text-align: center;*/
    /*font-family: "Impact", sans-serif;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 25%;*/
    /*left: 25%;*/
    /*text-shadow: black 0 0 20px;*/
    /*color: white;*/
    /*display: none;*/
/*}*/

/*#no-fortified {*/
    /*font-size: 3em;*/
    /*text-align: center;*/
    /*font-family: "Impact", sans-serif;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 25%;*/
    /*left: 25%;*/
    /*text-shadow: black 0 0 20px;*/
    /*color: white;*/
    /*display: none;*/
/*}*/
/*#threat-reduced {*/
    /*font-size: 3em;*/
    /*text-align: center;*/
    /*font-family: "Impact", sans-serif;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 25%;*/
    /*left: 25%;*/
    /*text-shadow: black 0 0 20px;*/
    /*color: white;*/
    /*display: none;*/
/*}*/
/*#new-ally {*/
    /*font-size: 3em;*/
    /*text-align: center;*/
    /*font-family: "Impact", sans-serif;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 25%;*/
    /*left: 25%;*/
    /*text-shadow: black 0 0 20px;*/
    /*color: white;*/
    /*display: none;*/
/*}*/
#splasher {
    font-size: 3em;
    text-align: center;
    font-family: "Impact", sans-serif;
    position: absolute;
    z-index: 99;
    top: 25%;
    left: 17.5%;
    width:50%;
    text-shadow: black 0 0 20px;
    color: white;
    /*display: none;*/
}

/* Countries */

.country {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.country:hover {
    opacity: 1;
}

#alaska {
    left: 8.5%;
    top: 13%;
}

#arabia {
    left: 55%;
    top: 36.5%;
}

#argentina {
    left: 30%;
    top: 63%;
}

#baltics {
    left: 53%;
    top: 21%;
}

#boston {
    left: 27.5%;
    top: 20%;
}

#brazil {
    left: 33%;
    top: 59.5%;
}

#california {
    left: 16%;
    top: 22%;
}

#canada {
    left: 13%;
    top: 14%;
}

#chile {
    left: 31%;
    top: 72%;
}

#china {
    left: 66%;
    top: 38%;
}

#east-australia {
    left: 79.5%;
    top: 66%;
}

#egypt {
    left: 51%;
    top: 42%;
}

#england {
    left: 44%;
    top: 21%;
}

#germany {
    left: 48%;
    top: 29.5%;
}

#greenland {
    left: 31.5%;
    top: 6.5%;
}

#italy {
    left: 50.5%;
    top: 35%;
}

#india {
    left: 65%;
    top: 43%;
}

#indonesia {
    left: 70%;
    top: 55%;
}

#iran {
    left: 61%;
    top: 33%;
}

#irkutsk {
    left: 72%;
    top: 15.5%;
}

#japan {
    left: 79%;
    top: 34%;
}

#kamchatka {
    left: 80%;
    top: 16%;
}

#madagascar {
    left: 59%;
    top: 65%;
}

#mexico {
    left: 21%;
    top: 42%;
}

#mongolia {
    left: 65%;
    top: 31%;
}

#nevada {
    left: 19%;
    top: 29.5%;
}

#new-york {
    left: 26%;
    top: 29%;
}

#niagara {
    left: 20%;
    top: 20%;
}

#oceania {
    left: 79%;
    top: 59%;
}

#romania {
    left: 51.5%;
    top: 33.5%;
}

#russia {
    left: 65%;
    top: 23%;
}

#scandinavia {
    left: 49%;
    top: 16%;
}

#siberia {
    left: 65%;
    top: 13%;
}

#south-africa {
    left: 50%;
    top: 61%;
}

#spain {
    left: 46%;
    top: 34%;
}

#sudan {
    left: 52%;
    top: 50%;
}

#thailand {
    left: 70%;
    top: 47.5%;
}

#ukraine {
    left: 58.5%;
    top: 18%;
}

#venezuela {
    left: 29%;
    top: 53%;
}

#west-africa {
    left: 43.5%;
    top: 38.5%;
}

#west-australia {
    left: 75%;
    top: 65%;
}

#zaire {
    left: 50%;
    top: 53%;
}

/* Country Card */

#country-card {
    width: 40%;
    float: left;
    margin-left: 10%;
    z-index: 99;
    border-radius: 10px;
    background: white;
    border: 2px solid #000000;
    box-shadow: black 0 0 5px 10px;
    text-align: center;
    opacity: 0.95;
}

/* Question Card */

#qcard, #qid {
    display: none;
    width: 120%;
    position:relative;
    float: right;
    background-color: #111;
    background-image: url(../img/quizination/qframe.png);
    background-size: 100% 100%;
    top:10%;
    z-index: 999;
    padding:20px;
    opacity:0.9;
    color:darkgoldenrod;
}

#bulletA {
    background: #a34f32;
}

#bulletB {
    background: #7255ff;
}

#bulletC {
    background: #8b9f20;
}

#bulletD {
    background: #ffcf57;
}

#answerBlock {
    list-style: none;
}

#answerMsg {
    display: none;
    color: white;
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.scribble {
    font-size: 18px;
}

.answer-bullet {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    color: black;
}

#answerBlock li {
    margin-bottom: 2px;
    margin-left: -39px;
    cursor: pointer;
}

#answerBlock li:hover {
    font-weight: bold;
}

/* Bottom Bar */

#diceBox {
    border-radius: 5px;
    width: 220px;
    right: 25%;
    position: relative;
    /*display: none;*/
}

#dieOne, #dieTwo, #dieThree, #dieFour {
    width: 105px;
    height: 105px;
    display: inline-block;
}

#results {
    margin-top: 10px;
    display: block;
}

#roll {
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
}

.oneShown, .threeShown {
    background-image: url('../img/quizination/diceroll.png');

    -webkit-animation: play 1s steps(17) infinite;
    -moz-animation: play 1s steps(17) infinite;
    -ms-animation: play 1s steps(17) infinite;
    -o-animation: play 1s steps(17) infinite;
    animation: play 1s steps(17) infinite;
}

.twoShown, .fourShown {
    background-image: url('../img/quizination/dicerollrev.png');

    -webkit-animation: play 1s steps(17) infinite;
    -moz-animation: play 1s steps(17) infinite;
    -ms-animation: play 1s steps(17) infinite;
    -o-animation: play 1s steps(17) infinite;
    animation: play 1s steps(17) infinite;
}

@-webkit-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1785px;
    }
}

@-moz-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1785px;
    }
}

@-ms-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1785px;
    }
}

@-o-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1785px;
    }
}

@keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1785px;
    }
}

#rollButton {
    background-color: #A00;
    cursor: pointer;
    color: white;
    padding: 5px;
    font-weight: normal;
    text-align: center;
    display: block;
    border-radius: 5px;
    width: 50%;
}